@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
h2{
    font-family: 'Source Code Pro', monospace;
}
ul{
    list-style-type: none;
    display: flex;
}


.list-items{
    color: black;
    font-size: 1.2rem;
}

.item{
    text-decoration: none;
    margin-left: 2rem;
}

.list-items:hover{
    color: #0A58CA;
    font-size: 1.4rem;
}