nav{
    margin: 1rem 35rem;
    padding: 0.8px;
    background-color: #FEFEFF;
    box-shadow: 5px 8px 8px 4px grey;
    border-radius: 5px;
    /* background-color:rgba(255,255,255,.4); */
    /* opacity: 0.4; */
}

.title{
    text-align: center;
}