
.content{
  margin-left: 2rem;
}

.card{
  margin-left: 1rem!important;
}

.controls {
  padding: 1rem;
  text-align: center;
}

.link{
  text-decoration: none;
  color: black;
  text-align: 50%;
}

.button-left{
  margin: 0 1rem;
}

.image{
  border-radius: 5px;
  box-shadow: 0 10px 10px -5px;
  /* -moz-box-shadow: 10px 10px 5px ;
      -webkit-box-shadow: 10px 10px 5px ;
      -khtml-box-shadow: 10px 10px 5px; */
}

/* Setting the img size for all carousel's photos */
.slick-slide img{
  height: 300px;
}

.slick-dots li.slick-active button:before{
  color: black!important;
  font-size: 1rem!important;
}

.App .openModalBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}

